# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\aouin\IdeaProjects\Database\Spring5\Spring5-didemo\spring5-di-demo-di-assignment-review\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
